/*    FONTS   */

@font-face {
  font-family: "Rader-Regular";
  font-style: normal;
  src: url('../fonts/rader/regular/PPRader-Regular.woff2');
  src: url('../fonts/rader/regular/PPRader-Regular.woff2') format('woff2'),
       url('../fonts/rader/regular/PPRader-Regular.woff') format('woff'),
       url('../fonts/rader/regular/PPRader-Regular.ttf') format('truetype'),
       url('../fonts/rader/regular/PPRader-Regular.otf') format('opentype');
}
@font-face {
  font-family: "Rader-Bold";
  font-style: bold;
  src: url('../fonts/rader/bold/PPRader-Bold.woff2');
  src: url('../fonts/rader/bold/PPRader-Bold.woff2') format('woff2'),
       url('../fonts/rader/bold/PPRader-Bold.woff') format('woff'),
       url('../fonts/rader/bold/PPRader-Bold.ttf') format('truetype'),
       url('../fonts/rader/bold/PPRader-Bold.otf') format('opentype');
}
@font-face {
  font-family: "Rader-Hairline";
  font-style: hairline;
  src: url('../fonts/rader/hairline/PPRader-Hairline.woff2');
  src: url('../fonts/rader/hairline/PPRader-Hairline.woff2') format('woff2'),
       url('../fonts/rader/hairline/PPRader-Hairline.woff') format('woff'),
       url('../fonts/rader/hairline/PPRader-Hairline.ttf') format('truetype'),
       url('../fonts/rader/hairline/PPRader-Hairline.otf') format('opentype');
}
@font-face {
  font-family: "Rader-Medium";
  font-style: medium;
  src: url('../fonts/rader/medium/PPRader-Medium.woff2');
  src: url('../fonts/rader/medium/PPRader-Medium.woff2') format('woff2'),
       url('../fonts/rader/medium/PPRader-Medium.woff') format('woff'),
       url('../fonts/rader/medium/PPRader-Medium.ttf') format('truetype'),
       url('../fonts/rader/medium/PPRader-Medium.otf') format('opentype');
}
@font-face {
  font-family: "Rader-Thin";
  font-style: thin;
  src: url('../fonts/rader/thin/PPRader-Thin.woff2');
  src: url('../fonts/rader/thin/PPRader-Thin.woff2') format('woff2'),
       url('../fonts/rader/thin/PPRader-Thin.woff') format('woff'),
       url('../fonts/rader/thin/PPRader-Thin.ttf') format('truetype'),
       url('../fonts/rader/thin/PPRader-Thin.otf') format('opentype');
}

@font-face {
  font-family: "NeueMontreal";
  font-style: normal;
  src: url('../fonts/neuemontreal/regular/PPNeueMontreal-Regular.woff2');
  src: url('../fonts/neuemontreal/regular/PPNeueMontreal-Regular.woff2') format('woff2'),
       url('../fonts/neuemontreal/regular/PPNeueMontreal-Regular.woff') format('woff'),
       url('../fonts/neuemontreal/regular/PPNeueMontreal-Regular.ttf') format('truetype'),
       url('../fonts/neuemontreal/regular/PPNeueMontreal-Regular.otf') format('opentype');
}


/*    COLORS   */

:root {
  --white: #FFFFFF;
  --lightergray: #9bf0f0;
  --lightgray: #2BC2C2;
  --gray: #667979;
  --black: #000000;
}


/*    GENERAL   */

html, body {
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}


.small-bold {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--black);
}

.thin-subhead {
  font-family: 'Rader-Thin';
  font-style: thin;
  font-weight: 200;
  font-size: 48px;
  line-height: 60px;

  color: var(--black);
}

.bold-head {
  font-family: 'Rader-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 10vw;
  line-height: 90%;

  color: var(--black);
}

.paragraph {
  font-family: 'NeueMontreal';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--gray);
}

.other-subhead {
  font-family: 'Rader-Bold';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  

  color: var(--lightgray);
}